
.card-custom.dark {
    background-color: transparent; /* Fondo transparente */
    border: 1px solid white;
    color: white;
    height: 100%;
}
.card-custom.light {
    background-color: transparent; /* Fondo transparente */
    border: 1px solid black;
    color: black;
    height: 100%;
}