/* projects.css */
.dark-theme .project-card {
    background-color: black;
    color: white; 
    border: 1px solid white; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el tema oscuro */
}

.light-theme .project-card {
    background-color: #ffffff; /* Cambia el color de fondo de las cards para el tema claro */
    color: #000000; /* Cambia el color del texto para el tema claro */
    border: 1px solid black; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el tema claro */
}

.project-list-group {
    background-color: black;
}

/* Estilos personalizados para el texto dentro de las tarjetas */
.project-text {
    color: #ccc;
    /* Puedes cambiar esto al color de texto deseado */
}

/* Estilos personalizados para los enlaces dentro de las tarjetas */
.project-link {
    color: #3498db;
    /* Puedes cambiar esto al color de enlace deseado */
}

.small_text {
    font-size: 0.9rem; /* ajusta este valor según sea necesario */
}